
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Number of products</th>
      <td><%= @product_count %></td>
    </tr>
    <tr>
      <th scope="row">Number of categories</th>
      <td><%= @category_count %></td>
    </tr>  
  </tbody>
</table>

<div>
  <%= link_to 'Products', admin_products_path %>
</div>